name: Publish package to the Maven Central Repository

on:
    push:
        tags:
            - v2.**
jobs:
    publish:
        environment: OSSHR Release
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up Maven Central Repository
              uses: actions/setup-java@v4
              with:
                  java-version: '11'
                  distribution: 'corretto'
                  server-id: central
                  gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
                  gpg-passphrase: MAVEN_GPG_PASSPHRASE

            - name: Publish package
              run: ./mvnw clean deploy -Prelease -s .github/maven-release-settings.xml
              env:
                  MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
                  MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
                  MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
