name: Publish package to the Maven Central Repository

on:
    push:
        tags:
            - v2.**
jobs:
    publish:
        environment: OSSHR Release
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
            - name: Set up Maven Central Repository
              uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
              with:
                  java-version: '11'
                  distribution: 'corretto'
                  server-id: central
                  gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
                  gpg-passphrase: MAVEN_GPG_PASSPHRASE

            - name: Publish package
              run: ./mvnw clean deploy -Prelease -s .github/maven-release-settings.xml
              env:
                  MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
                  MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
                  MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
