name: Unit Test.
on:
    push:
        branches: [ dev-v1 ]
jobs:
    test-job:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set Up JDK 11
              uses: actions/setup-java@v3
              with:
                  java-version: 11
                  distribution: 'corretto'

            - name: Unit Test
              run:
                  sh ./scripts/test-with-older-versions.sh

