name: Unit Test.
on:
    push:
        branches: [ dev-v1 ]
jobs:
    test-job:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
            - name: Set Up JDK 11
              uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
              with:
                  java-version: '11'
                  distribution: 'corretto'

            - name: Unit Test Core
              run:
                  sh ./scripts/test-core.sh

            - name: Unit Test Ext
              run:
                  sh ./scripts/test-ext.sh
