name: Unit Test.
on:
    push:
        branches: [ dev ]
jobs:
    test-job:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set Up JDK 11
              uses: actions/setup-java@v5
              with:
                  java-version: '11'
                  distribution: 'corretto'

            - name: Unit Test Core
              run:
                  sh ./scripts/test-core.sh

            - name: Unit Test Ext
              run:
                  sh ./scripts/test-ext.sh
